In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## DR REDDY Stock :

In [36]:
df=pd.read_csv("DRREDDY.csv")
df.head

<bound method NDFrame.head of             Date   Symbol Series  Prev Close     Open     High      Low  \
0     2000-01-03  DRREDDY     EQ     1396.50  1505.00  1508.25  1505.00
1     2000-01-04  DRREDDY     EQ     1508.25  1590.00  1628.95  1510.00
2     2000-01-05  DRREDDY     EQ     1628.95  1549.00  1650.00  1499.00
3     2000-01-06  DRREDDY     EQ     1568.05  1599.00  1693.50  1571.00
4     2000-01-07  DRREDDY     EQ     1661.55  1685.00  1685.00  1528.65
...          ...      ...    ...         ...      ...      ...      ...
5301  2021-04-26  DRREDDY     EQ     5066.70  5125.00  5130.00  5030.25
5302  2021-04-27  DRREDDY     EQ     5066.70  5090.50  5116.00  5021.35
5303  2021-04-28  DRREDDY     EQ     5057.25  5082.55  5106.90  5030.00
5304  2021-04-29  DRREDDY     EQ     5044.45  5070.25  5144.00  5042.30
5305  2021-04-30  DRREDDY     EQ     5102.30  5140.00  5211.00  5125.15

         Last    Close     VWAP   Volume      Turnover   Trades  \
0     1508.25  1508.25  1508.21    13280  2.002904e+12      NaN
1     1628.95  1628.95  1579.29    57142  9.024405e+12      NaN
2     1566.00  1568.05  1594.99   119697  1.909155e+13      NaN
3     1693.50  1661.55  1632.11   121966  1.990625e+13      NaN
4     1528.65  1529.10  1585.24    79641  1.262497e+13      NaN
...       ...      ...      ...      ...           ...      ...
5301  5067.00  5066.70  5078.16   950577  4.827178e+14  70675.0
5302  5062.00  5057.25  5065.33   957835  4.851746e+14  64767.0
5303  5048.00  5044.45  5065.54   843953  4.275075e+14  69716.0
5304  5106.00  5102.30  5098.90  1071931  5.465666e+14  74199.0
5305  5169.00  5163.10  5170.81  1306950  6.757985e+14  80394.0

      Deliverable Volume  %Deliverble
0                    NaN          NaN
1                    NaN          NaN
2                    NaN          NaN
3                    NaN          NaN
4                    NaN          NaN
...                  ...          ...
5301            217218.0       0.2285
5302            260296.0       0.2718
5303            184756.0       0.2189
5304            211996.0       0.1978
5305            398563.0       0.3050

[5306 rows x 15 columns]>

In [23]:
df_value=df.values
df_value

array([['2000-01-03', 'DRREDDY', 'EQ', ..., nan, nan, nan],
       ['2000-01-04', 'DRREDDY', 'EQ', ..., nan, nan, nan],
       ['2000-01-05', 'DRREDDY', 'EQ', ..., nan, nan, nan],
       ...,
       ['2021-04-28', 'DRREDDY', 'EQ', ..., 69716.0, 184756.0, 0.2189],
       ['2021-04-29', 'DRREDDY', 'EQ', ..., 74199.0, 211996.0, 0.1978],
       ['2021-04-30', 'DRREDDY', 'EQ', ..., 80394.0, 398563.0, 0.305]],
      dtype=object)

#### Daily Retrun :

In [52]:

list1=[0]
for i in range(1,len(df)):
        yestarday=df_value[i-1][8]
        today=df_value[i][4]
        inc=((today - yestarday)/yestarday)
        p=round(inc,2)
        list1.append(p)

In [53]:
df['Daily_return']=list1

#### Maximun Daily return of DRREDDY stock :

In [61]:
max_return_of_stock = df['Daily_return'].max()
print(max_return_of_stock)

0.11

#### Minimum Daily return of DRREDDY stock:

In [62]:
max_return_of_stock = df['Daily_return'].min()
print(max_return_of_stock )

-0.5

#### Average daily return of DRREDDY stock:

In [64]:
Avg_return_of_stock = df['Daily_return'].mean()
print(Avg_return_of_stock )

0.0010723709008669431

#### Standard deviation of DRREDDY stock:

In [65]:
std_return_of_stock = df['Daily_return'].std()
print(std_return_of_stock )

0.01655196717196715

# HDFC STOCK :

In [66]:
df_hdfc=pd.read_csv("HDFC.csv")

In [68]:
df_hdfc1=df_hdfc.values

### Daily return :

In [75]:
list1=[0]
for i in range(1,len(df)):
        yestarday=df_hdfc1[i-1][8]
        today=df_hdfc1[i][4]
        inc=((today - yestarday)/yestarday)
        p=round(inc,2)
        list1.append(p)

#### Minimum Daily return of  HDFC

In [76]:
max_return_of_stock = df['Daily_return'].max()
print(max_return_of_stock)

0.11

#### Maximum Daily return of  HDFC

In [77]:
max_return_of_stock = df['Daily_return'].min()
print(max_return_of_stock )

-0.5

#### Average Daily return of  HDFC

In [78]:
Avg_return_of_stock = df['Daily_return'].mean()
print(Avg_return_of_stock )

0.0010723709008669431

#### standarddeviation Daily return of  HDFC

In [79]:
std_return_of_stock = df['Daily_return'].std()
print(std_return_of_stock )

0.01655196717196715